# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
LICENSE
Dockerfile
Makefile
version.txt
.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/